$bg-ts: #dbebff;
$ts: #75a2ff;
$bg-html: #f1ffed;
$html: #7abf72;
$bg-scss: #ffe5e5;
$scss: #ff8192;
$bg-json: #e5e0cb;
$json: #c3aa96;
$bg-js: #e5d3e5;
$js: #c388b4;
$bg-php: #b5dbf7;
$php: #8facc3;
$bg-folder: #dbdee2;
$folder: #838487;
$bg-file: #dbdee2;
$file: #838487;
