app-channel-editor,
app-channel-template,
app-validator-editor {
	animation: fadein 0.3s forwards;
}
app-validator-editor,
app-channel-editor {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
}
