@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '../../../../palette.scss';

* {
	color: $white;
}

small {
	font-size: 0.7em;
}

p {
	font-weight: 400;
}

a {
	&:hover {
		text-decoration: none;
		color: inherit;
	}
}

li {
	width: 100%;
	.mat-raised-button {
		background-color: transparent;

		&.active,
		&.active:hover {
			background-color: mat-color($hpf-app-primary);
		}

		&:hover {
			background-color: mat-color($hpf-app-primary, 900);
		}
	}
}

.sm,
.md,
.reduced {
	li {
		width: 40px;

		.mat-raised-button {
			height: 40px;
			padding: 0;
			min-width: 0;
		}
	}
}
